html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
#timeleft {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    right: 50px;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#time {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    right: 15px;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#scoreNotification {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    left: 120px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity .2s;
}
#scoreTracker {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10px;
    left: 10px;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
#start {
    height: 100vh;
    padding-top: 33vh;
    background: linear-gradient(45deg, #0775d5 55%, #ffae22 55%);
}
#wrapper {
    width: 35vw;
    height: 35vh;
    background: white;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.3);
}
#wrapper > div {
    color: #ffae22;
    font-size: 125%;
    margin: 0 auto;
    padding-top: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#wrapper > div > h1 {
    margin-bottom: 5vh;
}
#wrapper > div > h1 > span {
    color: #0775d5;
}
#startbtn {
    position: relative;
    width: 200px;
    height: 68px;
    background: #0775d5;
    font-size: 30px;
    color: white;
    padding-left: 13px;
    letter-spacing: 2px;
    border-width: 0;
    border-radius: 0;
    overflow: hidden;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
#startbtn > span {
    position: relative;
    z-index: 1;
}
#startbtn::before {
    content: "";
    color:#ffae22;
    display: block;
    background-color: #ffae22;
    width: 10px;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    transition: width .4s;
}
#startbtn:hover::before {
    width: 190px;
}
#bar {
    stroke: white;
    stroke-width: 10px;
}
#gameover {
    height: 100vh;
    padding-top: 18vh;
    background: #e55a23;
}
#gowrapper {
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 30px;
}
#score {
    margin-bottom: 60px;
    margin-top: -35px;
    font-size: 120px;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
#reset {
    border-width: 0;
    border-radius: 0;
    background-color: white;
    color: #e55a23;
    transition: background-color .5s;
    width: 250px;
    height: 70px;
    font-size: 40px;
    position: relative;
}
#reset:hover {
    background-color: rgb(251, 198, 185);
}
#reset > span {
    position: relative;
    left: 0;
    transition: left .4s ease-out;
}
#reset:hover > span {
    left: -20px;
}
#resetIcon {
    position: absolute;
    transform: scale(1.55) rotate(15deg);
    top: 24px;
    right: 48px;
    opacity: 0;
    transition: transform .4s, opacity .4s;
    fill: #e55a23;
}
#reset:hover > #resetIcon {
    opacity: 1;
    transform: scale(1.55) rotate(0deg);
}